* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

/* COMMON */
.container-fluid {
    margin: 0 10px;
    width: calc(100% - 20px);
}

.row-fluid {
    width: 100%;
    display: flex;
    gap: 20px 20px;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

/* HEADER */
header {
    background-color: aqua;
    padding: 20px 0;
    position: fixed;
    width: 100%;
    z-index: 1;
}

ul{
    list-style: none;
    display: inline-block;
}

/* MAIN */


/* CONTAINER JUMBOTRON */
.container-jumbo{
    max-width: 100%;
}

.row-jumbo {
    width: 100%;
    display: flex;
    height: 80%;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px 0 0 0px;
}

.content-jumbo-100{
    height: 100px;
    background-color: yellow;
    border: 1px solid black;
}

.content-jumbo-50{
    height: 200px;
    background-color: blue;
    border: 1px solid black;
}

.col-100{
    width: 100%;
}

.col-50-jumbo{
    width: 50%;
}

/* CONTAINER CENTRALE */
.container-full{
    max-width: 1200px;
    margin: 0 auto;
}

.row-full {
    width: 100%;
    display: flex;
    height: 80%;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px 0 0 0px;
    gap: 10px;
}

/* DIV PRICE */
.col-33{
    width: calc(100% / 3 - 10px);
}

.content-full{
    height: 100px;
    background-color: yellow;
}

.content-33{
    height: 300px;
    background-color: bisque;
}

/* DIV PARTNER */
.col-50{
    width: calc(50% - 10px);
}

.content-50{
    height: 200px;
    background-color: rgb(70, 184, 242);
    border: 1px solid black;
}

/* DIV DOMANDE FREQUENTI */
.content-question{
    height: 300px;
    background-color: brown;
}

/* FOOTER */
footer{
    background-color: darkgray;
    padding: 20px 0;
    margin-top: 40px;
    width: 100%;
    height: 300px;
}